@font-face {
  font-family: "CursedTimer";
  src: url("../fonts/CursedTimerUlil-Aznm.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Layout */

body {
  background-color: #1b244a;
  height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 410px;
}

.score-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Typography */

h3 {
  font-family: "Verdana", sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 21px;
}

.score {
  font-family: "CursedTimer", monospace;
  display: grid;
  place-content: center;
  width: 155px;
  height: 120px;
  font-size: 90px;
  margin: 0 auto 26px;
  color: #f94f6d;
  background-color: #000;
}

.btn {
  font-family: "CursedTimer", monospace;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: inherit;
  height: 45px;
  width: 45px;
  display: grid;
  place-content: center;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  color: #9aabd8;
  cursor: pointer;
}

.btn:hover {
  color: yellow;
  border: 2px solid yellow;
}
